<%- include('partials/header.ejs') %>

<div class="container">
    <h2>Add New Pill</h2>
    <form action="/add" method="POST">
        <div class="mb-3">
            <label for="pillName" class="form-label">Which medication would you like to set the reminder for?</label>
            <input type="text" class="form-control" id="pillName" name="pillName" required>
        </div>
        <div class="mb-3">
            <label for="dosage" class="form-label">Dosage Quantity</label>
            <input type="number" class="form-control" id="dosage" name="dosage" required min="1" placeholder="Enter quantity">
        </div>
        <div class="mb-3">
            <label for="dosage" class="form-label">Unit</label>
            <select class="form-select" id="unit" name="unit" required>
                <option value="drop(s)">Drop(s)</option>
                <option value="gram(s)">Gram(s)</option>
                <option value="capsule">Capsule</option>
                <option value="pill">Pill</option>
                <option value="sachet">Sachet</option>
                <!-- Add more options as needed -->
            </select>
        </div>
        <div class="mb-3">
            <label for="time" class="form-label">How often do you take this medication?</label>
            <select class="form-select" id="frequency" name="frequency" required>
                <option value="Once daily">Once daily</option>
                <option value="Twice daily">Twice daily</option>
                <option value="On demand">On demand (no reminder needed)</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="reminderTime1" class="form-label">First Reminder Time</label>
            <select class="form-select" id="reminderTime1" name="reminderTime1" required>
                <option value="">Select Time</option>
                <option value="08:00 AM">08:00 AM</option>
                <option value="12:00 PM">12:00 PM</option>
                <option value="04:00 PM">04:00 PM</option>
                <option value="08:00 PM">08:00 PM</option>
                <!-- Add more time options as needed -->
            </select>
        </div>
        
        <div class="mb-3">
            <label for="reminderTime2" class="form-label">Second Reminder Time (Optional)</label>
            <select class="form-select" id="reminderTime2" name="reminderTime2">
                <option value="">Select Time</option>
                <option value="08:00 AM">08:00 AM</option>
                <option value="12:00 PM">12:00 PM</option>
                <option value="04:00 PM">04:00 PM</option>
                <option value="08:00 PM">08:00 PM</option>
                <!-- Add more time options as needed -->
            </select>
        </div>
        
        <button type="submit" class="btn btn-primary">Add Pill</button>
    </form>
</div>