<%- include('partials/header.ejs') %>

<div class="pill-cont">
    <h2>Update Email & Password</h2>


<div class="mb-3">
        <form action="/update-credentials" method="POST">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required placeholder="Enter your email"><br><br>

            <label for="password">New Password:</label>
            <input type="password" id="password" name="password" required placeholder="Enter new password">

            <button type="submit">Update</button>
        </form>
    </div>
</div>