<%- include('partials/header.ejs') %>

<div class="pill-cont">
    <h4>General</h4>
    <div class="box">
        <ul>
            <li><a href="/register">Registration & Login</a></li><br>
            <li><a href="/notifications">Notifications</a></li><br>
            <li><a href="/complete-profile">Complete Profile</a></li><br>
        </ul>
    </div>
</div>
